/* body {
  padding: 20px;
  font-family: sans-serif;
}

.box {
  border: 3px solid;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.s { border-color: red; }
.m { border-color: blue; }
.e { border-color: green; }
.v { border-color: orange; }
.y { border-color: purple; } */
